/***********************************
 ********** Authorization **********
 ***********************************/
#signup, #signin, #reset_password {width:465px; margin:0 auto;}
.content_auth > .form-group {overflow:hidden;}

.content_auth input,
.content_auth .select2 { margin-bottom:10px; }

.content_auth .title_text {
    font-size:31px;
    text-align:center;
    margin-bottom:10px;
}
.content_auth .sub_text {
    font-size:13px;
    line-height: 20px;
    text-align:center;
    margin-bottom:20px;
}
.content_auth .form-label {right:6px; top:4px;}

.content_auth .checkbox {margin-left:10px; margin-bottom:15px;}

.content_auth hr { width:300px; }

.auth_button {
    margin:0 auto;
    padding-top:15px;
}

#signup .cb_img, #signin .cb_img {
    width:88px;
    height:89px;
    background:url(/assets/img/auth/auth_icon.png) no-repeat;
}

/*sign up*/
#signup_country {width:100%;}
#coupon_wrap {margin-top:10px; margin-bottom:20px;}
#form_coupon {display:none; position:relative;}
#form_coupon .control-label {
    top:5px;
    right:-15px;
    cursor: pointer;
}
#signup input[type=text][name=coupon]{
    width:375px;
    margin-right:10px;
}
#btn_verify_coupon {width:80px;}
#btn_signup {width:230px;}

#signup .checkbox.has-error .fa {
    color:#a94442;
    float:right;
    padding-right:10px;
    display: block;
}

/*sign in*/
#signin .auth_button { width: 300px }
#signin .auth_button .btn { width:130px; }
#checkbox_wrap {margin-top: 15px;}
#signin hr {margin-top:30px; margin-bottom:30px;}

/*sign up */
.auth_button .back_page { display: block; text-align: center }

/*oauth*/
#fb_login .fb_iframe_widget iframe { opacity: 0; }
#fb_login .fb_iframe_widget {
    height: 50px;
    width: 250px;
    display:block;
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url(/assets/img/facebook.png);
    background-repeat: no-repeat;
    cursor:pointer;
}

#gg_login .g-signin2 .abcRioButton{ opacity:0; }

#gg_login .g-signin2{
    height : 50px;
    width : 250px;
    margin: 0 auto;
    background-image: url(/assets/img/google.png);
    background-repeat: no-repeat;
    cursor : pointer;
}

/*Password reset*/
#reset_password .btn {
    display:block;
    margin:0 auto;
    margin-top:30px;
    margin-bottom: 10px;
}
#reset_password .back_page { display: block; text-align: center }

#signInModal .modal-footer { border: none }
.coupon_button, .coupon_close { padding: 0; background: none; border: none }
.check_agree { right: 0 }
.popover { max-width: 300px }
.popover-content { min-width: 300px; word-break: keep-all }
.active_tooltip { z-index: 1070 }