#header_bottom { height: 5px; padding: 0 }
#myaccount #notice_oauth { text-align: center; padding-bottom: 20px }
.tab_item { width: 50%; text-align: center }
.myaccount_content { width: 700px; margin: 0 auto; padding: 30px 20px 20px 20px }
.form-group { margin-bottom: 10px }
.form_label { padding-right: 10px; text-align: right }
.label_tab1 { width: 100px }
.label_tab2 { width: 150px }
.form-control { display: inline-block }
.profile_input { width: 550px }
.password_input { width: 506px }
.coupon_enter_message { padding-left: 106px }
.coupon_form { display: none }
.coupon_input { width: 450px }
.verify_button { width: 90px; margin-left: 6px; z-index: 10 }
.coupon_close { margin-top: 7px; margin-right: -20px; cursor: pointer }
.button_wrap { width: 200px; margin: 0 auto; padding-top: 20px }