
.modal-dialog {
    margin: 300px auto;
}
.request_modal .modal-content { width: 600px }
.request_modal .modal-body { padding: 20px }
.request_modal .close_button { position: absolute; top: 10px; right: 10px }
.request_description { margin: 20px 0 30px 0; font-size: 1.2rem; text-align: center }

.request_apply { margin-top: 20px; text-align: center }

#ssl_manual_btn_wrap {
    padding-top: 0px;
    text-align: center;
}
#addsite_ssl_manual #ssl_manual_btn_wrap .btn {
    display: inline-block;
    width: 30%;
    margin: 20px auto;
    margin-top: 15px;
    margin-left: 25px;

}