.data_box { display: inline-block }
.select_ips {display:inline-block; margin-right:5px }
.cname_box { display: none; width: 130px; margin-right: 5px; color: #7F94A0 }
.form-control.cname_box { background-color: #FFF }
.request_modal .modal-content { width: 660px }
.request_modal .modal-body { padding: 20px }
.request_modal .close_button { position: absolute; top: 10px; right: 10px }
.request_description { margin: 10px 0 30px 0; font-size: 1.2rem; text-align: center }
.request_select { overflow: hidden }
.select_area { float: left }
.select_body { position: relative; width: 300px; height: 180px; margin-top: 10px; padding: 18px; border: #EEE solid 1px }
.select_body::before { display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; content: ''; background-color: rgba(176, 176, 176, 0.39);  }
.type_label { font-weight: normal; font-size: 1.2rem; padding-left: 10px }
.type_ips { margin-right: 20px }
.request_type { margin-left: 4px !important } /* !important 추후 없애기, 부트스트랩 때문에.. 임시로 */
.request_type:checked ~ .type_label { font-weight: bold }
.request_type:checked ~ .type_ips { overflow-y: auto }
.request_type:checked ~ .select_body::before { display: none }
.input_list { margin: 0; padding: 0 }
.item_ips { padding-bottom: 20px }
.option_button { width: 30px; height: 30px; margin-right: 6px; background-color: #DDD; border: none }
.option_add { color: #FFF; background-color: #2DA2DB }
.ips_input { display: inline-block; width: 200px; font-size: 13px }
.cname_input { display: inline-block; width: 260px }
.request_apply { margin-top: 20px; text-align: center }

/* IDC Position */
#idc-aaaa1 { right: 0px; top: 0px }
#idc-aabr1 { right: 497px; top: 291px }
#idc-aajk1 { right: 150px; top: 255px }
#idc-aase1 { right: 120px; top: 140px }
#idc-abdu1 { right: 272px; top: 175px }
#idc-acfn1 { right: 647px; top: 140px }
#idc-acmd1 { right: 561px; top: 140px }
#idc-acvn1 { right: 354px; top: 108px }
#idc-aesf1 { right: 345px; top: 124px }
#idc-aevc1 { right: 640px; top: 121px }
#idc-aghb1 { right: 138px; top: 175px }
#idc-aghc1 { right: 138px; top: 175px }
#idc-agho1 { right: 138px; top: 175px }
#idc-agkb1 { right: 126px; top: 223px }
#idc-agkl1 { right: 126px; top: 223px }
#idc-agt11 { right: 547px; top: 127px }
#idc-ahco1 { right: 621px; top: 134px }
#idc-ahf11 { right: 372px; top: 102px }
#idc-ahfb1 { right: 372px; top: 102px }
#idc-ahj01 { right: 332px; top: 296px }
#idc-ahj11 { right: 332px; top: 296px }
#idc-ahjb1 { right: 332px; top: 296px }
#idc-ahkg1 { right: 138px; top: 175px }
#idc-aird1 { right: 400px; top: 95px }
#idc-ajpt1 { right: 316px; top: 150px }
#idc-akul1 { right: 126px; top: 223px }
#idc-amcd1 { right: 213px; top: 157px }
#idc-aoor1 { right: 640px; top: 130px }
#idc-aorg1 { right: 640px; top: 130px }
#idc-aotx1 { right: 616px; top: 159px }
#idc-apab1 { right: 380px; top: 101px }
#idc-apac1 { right: 380px; top: 101px }
#idc-apac2 { right: 649px; top: 139px }
#idc-apam1 { right: 380px; top: 101px }
#idc-apcb1 { right: 649px; top: 139px }
#idc-apnb1 { right: 551px; top: 125px }
#idc-aptk1 { right: 97px; top: 144px }
#idc-aseo1 { right: 120px; top: 140px }
#idc-asgp1 { right: 160px; top: 220px }
#idc-asil1 { right: 575px; top: 130px }
#idc-asmb1 { right: 239px; top: 180px }
#idc-assd1 { right: 59px; top: 312px }
#idc-atko1 { right: 90px; top: 145px }
#idc-atko2 { right: 90px; top: 145px }
#idc-atko3 { right: 90px; top: 145px }
#idc-atko4 { right: 90px; top: 145px }
#idc-atko5 { right: 90px; top: 145px }
#idc-atnb1 { right: 372px; top: 108px }
#idc-atng1 { right: 100px; top: 145px }
#idc-avbd1 { right: 160px; top: 200px }
#idc-avnm1 { right: 150px; top: 200px }
#idc-atjk1 { right: 150px; top: 255px }
#idc-apm11 { right: 100px; top: 155px }