.form_change_select { display: inline-block; margin-left: 10px; font-weight: normal }
.ip_list { margin: 0; margin-bottom: 20px; padding: 0; list-style-type: none }
.ip_item { position: relative; width: 200px; height: 36px; padding: 6px 12px; text-align: left; border: #DDD solid 1px; border-bottom: none }
.ip_item:last-child { border-bottom: #DDD solid 1px }
.ip_input { width: 150px; border: none }
.ip_remove_button { position: absolute; top: 0; right: 14px; padding: 0; line-height: 36px; background: none; border: none }
.ip_button { min-width: 80px }
.facing_cname { width: 200px; height: 36px; border: #DDD solid 1px }
.cname_save { min-width: 80px }
.edit_button { padding-top: 20px }
.overview_dns_title { float: left; width: 400px; font-weight: bold; font-size: 1.2rem }
.overview_dns_value { float: right }
.overview_dns_text { float: left; max-width: 500px; word-break: break-all }
.overview_dns_table { max-width: 450px; min-width: 340px; font-size: 1.1rem }
.overview_dns_table tr { text-align: center }
.data_subdomain { font-weight: bold }
.data_dns { word-break: break-all }
.nameserver_list { margin: 0; padding: 0 }