#addsite-wrap .title_text {
    font-size: 2.5rem;
    padding: 35px 0 10px 0;
    text-align: center;
    color: #2da2db;
}
#addsite-wrap .sub_text {
    font-size: 1.1rem;
    line-height: 1.7rem;
    text-align: center;
    margin-bottom: 35px;
}
#btn-next {
    width: 150px;
    margin: 25px auto 0 auto;
}
.between_space {
    padding: 0 8px;
}
/*Add site 1*/
#addsite1 {
    margin: 0 auto;
    padding-top: 60px;
}
#addsite1 #addsite1_img {
    width: 114px;
    height: 89px;
    background: url(/assets/img/addsite/addsite_icon.png) no-repeat;
    margin: 0 auto;
}
#addsite1 .form-group .control-label {
    right: 5px;
    color: #7F93A0;
}
#addsite1 #addsite_url_wrap {
    width: 500px;
    margin: 0 auto;
}
#addsite1 #addsite_url {
    height: 50px;
    padding: 5px 25px 5px 10px;
    font-size: 1.2rem;
}
#addsite1 #addsite_url_wrap i {
    font-size: 16px;
    margin-top: 15px;
    margin-right: 2px;
}
#addsite-progress-bar .progress {
    width: 80%;
    margin: 0 auto;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    height: 15px;
}
#addsite-progress-bar .progress .progress-bar {
    background-color: #288dbf;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
#addsite-progress-bar #addsite-progress-text ul {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    display: table;
}
#addsite-progress-bar #addsite-progress-text ul li {
    display: table-cell;
    width: 20%;
    text-align: center;
}
#addsite-progress-bar #addsite-progress-text ul li.pre,
#addsite-progress-bar #addsite-progress-text ul li.active {
    color: #2da2db;
}
#addsite-progress-bar #addsite-progress-text ul li.active {
    font-weight: bold;
}
/*region*/
#addsite_region #choose-idc-list-wrap #choose-idc-list-top {
    display: table;
    width: 100%;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 10px 25px;
    border: 1px solid #7f94a0;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-top #check-ip {
    display: table-cell;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-top #check-ip #domainIPs {
    display: inline-block;
    width: 120px;
    margin-right: 5px;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-top #check-ip #btn-change-ip {
    margin-top: -3px;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-top #text-choose-idc {
    display: table-cell;
    text-align: right;
    font-weight: bold;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom {
    background-color: #fff;
    border: 1px solid #7f94a0;
    border-top: 0;
    height: 440px;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-list {
    width: 25%;
    border-right: 1px solid #7f94a0;
    font-size: 1.1rem;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-list ul {
    margin: 0;
    padding: 0;
    height: 100%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-list ul li {
    background-color: #f5f5f5;
    color: #7f94a0;
    padding: 8px 10px;
    border-bottom: 1px solid rgba(127, 148, 160, 0.5);
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-list ul li.active:not(.group-country):not(.selected) {
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-list ul li.selected {
    background-color: #fff;
    color: #2da2db;
    font-weight: bold;
    cursor: pointer;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-list ul li.selected i.fa-check {
    color: #2da2db;
    float: right;
    margin-top: 3px;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-list ul li.group-country {
    background-color: #7f94a0;
    color: #fff;
    font-size: 1rem;
    padding: 3px 10px;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map {
    width: 75%;
    position: relative;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-img {
    width: 700px;
    height: 348px;
    margin: 40px auto 0 auto;
    background: url('/assets/img/addsite/world_map_light_gray.png') no-repeat;
    background-size: contain;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* Region 위치 지정 */
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin .map-pin {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #999;
    background-color: #fff;
    cursor: pointer;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin .map-pin.active,
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin .map-pin.selected {
    border-width: 3px;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin .map-pin.active {
    width: 12px;
    height: 12px;
    border-color: #666;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin .map-pin.selected {
    width: 15px;
    height: 15px;
    background-color: #288dbf;
    border-color: #93cfe5;
    z-index: 2;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-new-jersey {
    left: 24%;
    top: 33%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-oregon {
    left: 10.5%;
    top: 30%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-california {
    left: 9.3%;
    top: 37%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-illinois {
    left: 19.5%;
    top: 34%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-amsterdam {
    left: 46.5%;
    top: 26%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-dublin {
    left: 43.2%;
    top: 24%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-seoul {
    right: 17%;
    top: 36.5%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-tokyo {
    right: 12.4%;
    top: 37.5%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-nagano {
    right: 13.6%;
    top: 36%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-hong-kong {
    right: 19.5%;
    top: 45.5%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-singapore {
    right: 22%;
    top: 57.5%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-ho-chi-minh {
    right: 20.7%;
    top: 52.5%;
}
#addsite_region #choose-idc-list-wrap #choose-idc-list-bottom #choose-idc-map #choose-idc-map-pin #idc-binh-duong {
    right: 21.5%;
    top: 50.9%;
}
/*SSL Mode*/
#addsite_ssl .choose-idc-ssl-using-answer,
#addsite_ssl .choose-idc-ssl-mode-answer {
    width: 47%;
    border: 1px solid #7f94a0;
    padding: 15px;
    margin-bottom: 0;
    cursor: pointer;
}
#addsite_ssl .choose-idc-ssl-using-answer.selected,
#addsite_ssl .choose-idc-ssl-mode-answer.selected {
    color: #2da2db;
    border-color: #2da2db;
}
#addsite_ssl .choose-idc-ssl-using-answer .radio label,
#addsite_ssl .choose-idc-ssl-mode-answer .radio label {
    position: absolute;
}
#addsite_ssl .choose-idc-ssl-using-answer .radio label::after,
#addsite_ssl .choose-idc-ssl-mode-answer .radio label::after {
    margin-top: -1px;
}
#addsite_ssl #choose-idc-ssl-mode-wrap {
    background-color: #fff;
    border: 1px solid #7f94a0;
    padding: 15px 25px;
}
#addsite_ssl #choose-idc-ssl-mode-wrap #choose-idc-ssl-using {
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
#addsite_ssl #choose-idc-ssl-mode-wrap #choose-idc-ssl-using #choose-idc-ssl-using-answer-wrap {
    margin-top: 20px;
}
#addsite_ssl #choose-idc-ssl-mode-wrap #choose-idc-ssl-using #choose-idc-ssl-using-answer-wrap .choose-idc-ssl-using-answer {
    background-color: #f5f5f5;
}
#addsite_ssl #choose-idc-ssl-mode-wrap #choose-idc-ssl-using #choose-idc-ssl-using-answer-wrap .choose-idc-ssl-using-answer.selected[for='choose-ssl-using-yes'] {
    border-color: #2da2db;
    border-bottom-color: #f5f5f5;
}
#addsite_ssl #choose-idc-ssl-mode-wrap #choose-idc-ssl-mode {
    display: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    top: -1px;
    background-color: #f5f5f5;
    padding: 25px;
    border: 1px solid #2da2db;
}
#addsite_ssl #choose-idc-ssl-mode-wrap #choose-idc-ssl-mode #choose-idc-ssl-mode-answer-wrap {
    margin-top: 25px;
}
#addsite_ssl #choose-idc-ssl-mode-wrap #choose-idc-ssl-mode #choose-idc-ssl-mode-answer-wrap .choose-idc-ssl-mode-answer {
    background-color: #fff;
}
#addsite_ssl #choose-idc-ssl-mode-wrap #choose-idc-ssl-mode #choose-idc-ssl-mode-answer-wrap .choose-idc-ssl-mode-answer.selected {
    color: #7f94a0;
}
/*SSL Manual*/
#addsite_ssl_manual #addsite_ssl_manual_txt_list table {
    width: 100%;
    color: #7f94a0;
    text-align: center;
    border: 1px solid #cdcdcd;
}
#addsite_ssl_manual #addsite_ssl_manual_txt_list table th,
#addsite_ssl_manual #addsite_ssl_manual_txt_list table td {
    padding: 8px 0;
}
#addsite_ssl_manual #addsite_ssl_manual_txt_list table th {
    background-color: #7f94a0;
    text-align: center;
    color: #fff;
    border-left: 1px solid #cdcdcd;
}
#addsite_ssl_manual #addsite_ssl_manual_txt_list table th:first-child {
    border-left: 0;
}
#addsite_ssl_manual #addsite_ssl_manual_txt_list table td {
    background-color: #fff;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
}
#addsite_ssl_manual #addsite_ssl_manual_txt_list table td:first-child {
    width: 10%;
    border-left: 0;
}
#addsite_ssl_manual #addsite_ssl_manual_txt_list table td:nth-child(2) {
    width: 30%;
}
#addsite_ssl_manual #addsite_ssl_manual_txt_list table td:nth-child(3) {
    width: 60%;
}
#addsite_ssl_manual #addsite_ssl_manual_btn_wrap {
    padding-top: 40px;
}
#addsite_ssl_manual #addsite_ssl_manual_btn_wrap .btn {
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-top: 15px;
}
/*DNS Info*/
#addsite_dnsinfo #addsite_reg_info {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #cdcdcd;
}
#addsite_dnsinfo #addsite_reg_info .nav-tabs li {
    width: 50%;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info {
    padding: 15px;
    font-size: 1.1rem;
    overflow: hidden;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info > p {
    padding: 8px 0 15px 0;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list {
    display: table;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list ul,
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list .reg_info_list_arrow {
    display: table-cell;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list > ul {
    padding-left: 0;
    width: 45%;
    border: 1px solid #fff;
    background-color: #ecf0f5;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list > ul > li {
    padding: 8px;
    vertical-align: middle;
    border-top: 1px solid #fff;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list > ul > li.reg_info_table_li {
    padding: 0 !important;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list > ul > li.reg_info_table_li .reg_info_table {
    width: 100%;
    height: 30px;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list > ul > li.reg_info_table_li .reg_info_table td {
    padding: 8px 0;
    border-right: 1px solid #fff;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list > ul > li.reg_info_table_li .reg_info_table td:nth-child(1) {
    width: 20%;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list > ul > li.reg_info_table_li .reg_info_table td:nth-child(2) {
    width: 20%;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list > ul > li.reg_info_table_li .reg_info_table td:nth-child(3) {
    width: 60%;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list > ul.reg_info_list_current li:first-child {
    background-color: #7f94a0;
    color: #fff;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list > ul.reg_info_list_change li:first-child {
    background-color: #288dbf;
    color: #fff;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_list .reg_info_list_arrow {
    vertical-align: middle;
    width: 10%;
    font-size: 30px;
    text-align: center;
    color: #7f94a0;
    margin-top: 65px;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_comment {
    width: 90%;
    margin: 0 auto;
    color: #7f94a0;
    line-height: 15px;
    text-align: left;
    padding-left: 0;
    padding-top: 30px;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_comment li {
    padding: 5px 0;
    line-height: 1.4rem;
}
#addsite_dnsinfo #addsite_reg_info .tab-content .reg_info_comment li i {
    font-size: 0.4rem;
    padding-right: 5px;
}
#addsite_dnsinfo #btn-done {
    display: block;
    width: 20%;
    margin: 0 auto;
}
.invalid_sign { font-size: 15px; text-align: center }