/*Page Loading*/
/*#loading {
  display:block;
}*/
/*Layout 수정*/
.content_wrapper {
    padding: 20px 0 50px 0;
}
.datepicker_wrap {
    padding-bottom: 30px;
}
/**********
 * FILTER *
 **********/
.event_control {
    width: 600px;
    margin-bottom: 10px;
}
.filter_wrap {
    width: 140px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.filter_wrap .checkbox {
    padding-left: 0;
}
.filter_wrap .checkbox label {
    width: 100%;
}
.filter_wrap .event_control div.form-wrap {
    position: relative;
}
.filter_wrap .event_control div.form-wrap:hover,
.filter_wrap .event_control div.form-wrap:active {
    color: #288dbf !important;
}
.filter_wrap .event_control div.form-wrap select.form-control {
    width: 100%;
}
.over_select {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.filter_options {
    width: 100%;
    max-height: 250px;
    overflow: auto;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    border: 1px #cdcdcd solid;
    margin-top: -1px;
}
.filter_options > div {
    padding: 6px 6px 6px 25px;
}
.filter_options > div:nth-child(even) {
    background-color: #ebebeb;
}
.filter_options > div:last-child {
    padding-bottom: 5px;
}
.filter_options > div:hover {
    background-color: #cdcdcd;
}
.filter_options_wrap {
    width: 200px;
    position: absolute;
    display: none;
}
#event {
    padding-top: 35px;
}
#event_tagit {
    display: inline-block;
    width: 958px;
    min-height: 28px;
    overflow: hidden !important;
    border: 0;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}
#event_tagit .tagit-new {
    display: none !important;
}
#event_tooltip {
    display: inline-block;
    position: relative;
    top: -10px;
    cursor: pointer;
}
#event_search {
    width: 320px;
}
#event_search input[type='text'] {
    background: url('/assets/img/event/search_01.png') right 10px center #fff no-repeat;
}
/*********
 * TABLE *
 *********/
#event_data {
    width: 100%;
    max-height: 585px;
    min-height: 56px;
}
.dx-freespace-row {
    display: none !important;
}
.img-container img:not(:first-child) {
    margin-left: 5px;
}
/*PAGING*/
.dx-datagrid-pager > .dx-pages {
    position: relative;
    left: 48%;
}
.dx-datagrid-pager {
    border-top: none;
}
/*Button*/
#event_data .btn {
    width: 100%;
}
#event_data .btn[pre-add="true"] {
    text-decoration: line-through;
}
#event_data .btn[pre-add="true"]:hover {
    text-decoration: none;
}
.btn-no,
.btn-yes {
    text-decoration: none !important;
}
/*EXCEL BUTTON*/
.dx-datagrid-header-panel {
    width: 100%;
    border-bottom: 0;
}
.dx-datagrid-header-panel .dx-button {
    display: none !important;
}

#event_data .btn-ip-active.btn { width: 50% }
.response_text { padding-left: 5px }
.option_button[data-status="blocked"] { text-decoration: line-through }
.option_button[data-active="on"] { text-decoration: none }