/* Canadian Web Hosting Partner */

/* Additional Custom */

/* Color 1 #db1023 */
.header #header_top .content_center #header_top_right a .header_top_text.active,
.header #header_top .content_center #header_top_right .btn-hover:hover,
.text_blue, #addsite-wrap .title_text, #addsite-progress-text ul li.pre, #addsite-progress-text ul li.active,
#choose-idc-list ul li.selected,
a:hover, a:active, a,
.a_blue:hover, .a_blue:active, .a_blue:visited, .a_blue,
.a_hoverblue:visited, .a_hoverblue, .a_hoverblue:hover, .a_hoverblue:active {
    color: #db1023;
}
.btn-blue, .btn-success,
.btn-blue:hover, .btn-success:hover, .btn-blue:active, .btn-success:active, .btn-blue:focus, .btn-success:focus {
    background-color: #db1023;
    border-color: #db1023;
}
.label-blue, #header_bottom,
#settings_nav_group_wrap #settings_nav_group #settings_nav .btn-app:hover, #settings_nav_group_wrap #settings_nav_group #settings_nav .btn-app.active {
    background-color: #db1023;
}
#addsite_ssl .choose-idc-ssl-using-answer.selected,
#addsite_ssl .choose-idc-ssl-mode-answer.selected {
    color: #db1023;
    border-color: #db1023;
}
#choose-idc-ssl-no, #choose-idc-ssl-mode {
    border-color: #db1023;
}

/* Color 2 #FFFFFF */
.header #header_top {
    background-color: #FFFFFF;
}
.header #header_bottom #header_bottom_right li a:hover, .header #header_bottom #header_bottom_right li a.active {
    color: #FFFFFF !important;
    border-bottom: 5px solid #FFFFFF;
}
.header #header_bottom #header_bottom_right a, .header #header_bottom #header_bottom_right a:focus {
    color: #FFFFFF;
}

/* Color 3 #f5f5f5 */
html, body, .header_row,
.table-striped > tbody > tr:nth-of-type(odd),
.dx-datagrid .dx-datagrid-rowsview .dx-row:nth-child(even),
.record_table .record_row:nth-child(even) {
    background-color: #f5f5f5;
}

/* Color 4 #efefef */
.reg_info_table tr {
    background-color: #efefef;
}

/* Color 5 #db1023 */
#dashboard .table-striped > tbody > tr:hover {
    background-color: #db1023 !important;
}